body {
  font-family: "TT Lakes";
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  width: 240px;
  height: 102px;
  margin-left: 0;
  margin-right: 0;
  overflow: visible;
}

.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px);
}

.services {
  padding: 15px 32px 32px;
}

@media (max-width: 992px) {
  .services {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .services {
    padding: 16px 16px 38px;
  }
}

.services__title {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
}

.services__contents {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-auto-rows: minmax(72px, auto);
  column-gap: 32px;
  row-gap: 16px;
  min-width: 0;
}

@media (max-width: 992px) {
  .services__contents {
    justify-content: center;
    grid-template-columns: repeat(3, 224px);
    column-gap: 24px;
  }
}

@media (max-width: 320px) {
  .services__contents {
    display: flex;
    justify-content: unset;
  }
}

.services__wrapper {
  display: none;
  height: 100%;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  min-width: 0;
}

@media (max-width: 320px) {
  .services__wrapper {
    display: block;
    height: 72px;
  }
}

.services__wrapper--show {
  display: block;
}

.services__brand {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.services__brand::before {
  content: "";
  position: absolute;
  right: 16px;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 20px;
}

.services__brand::after {
  content: "";
  transform: rotate(135deg);
  position: absolute;
  right: 34.5px;
  height: 8px;
  width: 8px;
  border-top: 2px solid #ff3e79;
  border-left: 2px solid #ff3e79;
}

.services__btn {
  cursor: pointer;
  display: none;
  margin-top: 24px;
  padding-left: 31px;
  border: none;
  background: none;
  position: relative;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  letter-spacing: -0.2px;
}

.services__btn::before {
  content: "";
  transform: rotate(-135deg);
  position: absolute;
  left: 8px;
  top: 6px;
  height: 4px;
  width: 4px;
  border-top: 1.5px solid #0dcecb;
  border-left: 1.5px solid #0dcecb;
}

.services__btn::after {
  content: "";
  transform: rotate(-135deg);
  position: absolute;
  left: 8px;
  top: 12px;
  height: 4px;
  width: 4px;
  border-top: 1.5px solid #0dcecb;
  border-left: 1.5px solid #0dcecb;
}

.services__btn--show {
  display: block;
}

@media (max-width: 320px) {
  .services__btn--show {
    display: none;
  }
}

.services__btn--hide::before {
  transform: rotate(45deg);
  top: 6px;
}

.services__btn--hide::after {
  transform: rotate(45deg);
  top: 12px;
}

.container {
  overflow: hidden;
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0;
    max-width: 100%;
  }
}
