.footer {
  margin-top: 50px;
  height: 85px;
}

.footer__wrapper {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.footer__content {
  width: 330px;
}

.footer__content:last-child {
  text-align: right;
}
