.footer {
  margin-top: 50px;
  height: 85px;
  border-top: 1px solid $footer-border;
  &__wrapper {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 330px;
    &:last-child {
      text-align: right;
    }
  }
}
