.header {
  padding-top: 42px;
  @media (max-width: 1399px) {
    padding-top: 0;
    margin-top: 24px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    position: relative;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.6px;
    color: $main-text-color;
    line-height: 40px;
    &::before {
      content: "";
      position: absolute;
      left: -33px;
      height: 100%;
      width: 3px;
      background: $highlight;
      border-radius: 2px;
      @media (max-width: 768px) {
        left: -23px;
      }
      @media (max-width: 576px) {
        left: -15px;
      }
    }
  }
  &__wrapper {
    display: flex;
    @media (max-width: 1399px) {
      display: none;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 32px;
    }
    img {
      margin-left: 8px;
    }
  }
  &__bottom {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    @media (max-width: 768px) {
      margin-top: 32px;
    }
  }
  &__btn {
    height: 40px;
    padding: 8px 12px;
    border-radius: 6px;
    color: $menu-text-color;
    white-space: nowrap;
    @media (max-width: 768px) {
      padding: 8px 10px;
    }
    &_checked {
      border: 2px solid $btn-border-color;
    }
    // &_adress {
    //   @media (max-width: 992px) {
    //     display: none;
    //   }
    // }
    // &_special {
    //   @media (max-width: 576px) {
    //     display: none;
    //   }
    // }
  }
}
