.menu {
  height: 100vh;
  @media (max-width: 1399px) {
    left: -380px;
    position: absolute;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 5;
  }
  &_show {
    @media (max-width: 1399px) {
      position: fixed;
      width: 100%;
      z-index: 5;
      left: 0;
      top: 0;
      overflow: hidden;
      background: rgba($color: $white, $alpha: 0.9);
    }
  }
  &__overflow {
    height: 100%;
    padding: 18px 24px 32px;
    width: 320px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.8s;
    @media (max-width: 1399px) {
      left: -380px;
      position: absolute;
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
      z-index: 10;
    }
    &_checked {
      left: 0;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
  }
  &__icon {
    height: 40px;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
      transform: rotate(360deg);
    }
    &_close {
      display: none;
      @media (max-width: 1399px) {
        display: block;
      }
    }
  }
  &__link {
    margin-bottom: 28px;
    transition: 0.4s;
    &:hover {
      color: $menu-text-color;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -22px;
        height: 100%;
        width: 3px;
        background: $highlight;
        border-radius: 2px;
      }
    }
    @media (max-width: 1399px) {
      margin-bottom: 32px;
    }
    &_checked {
      color: $menu-text-color;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -22px;
        height: 100%;
        width: 3px;
        background: $highlight;
        border-radius: 2px;
      }
    }
  }
  &__contacts {
    display: flex;
    margin-bottom: 16px;
    .menu__icon {
      margin-right: 16px;
    }
  }
  &__email {
    display: block;
    margin-bottom: 12px;
  }
  &__languages {
    display: flex;
    margin-top: 41px;
  }
  &__language {
    margin-right: 7px;
    cursor: pointer;
    &_checked {
      color: $menu-text-color;
    }
  }
  &-h {
    display: none;
    padding: 16px 0;
    @media (max-width: 1399px) {
      display: block;
    }
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__icon {
      height: 40px;
      transition: 0.8s;
      &:hover {
        transform: rotate(360deg);
      }
      &_burger {
        height: 40px;
        margin-right: 43px;
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
    }
    &__icons {
      height: 40px;
      margin-left: 42px;
      display: flex;
      .menu-h__icon:first-child {
        margin-right: 16px;
      }
    }
    &__contacts {
      display: flex;
      height: 40px;
      .menu-h__icon {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
}
