.modal {
  width: 440px;
  padding: 40px 32px 0;
  background: $white;
  @media (max-width: 576px) {
    width: 360px;
    padding: 104px 16px 0;
  }
  @media (max-width: 320px) {
    width: 100%;
  }
  #close {
    transition: 0s;
  }
  &__header {
    position: relative;
  }
  &__icon {
    position: absolute;
    bottom: 0;
    left: -104px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.8s;
    &:hover {
      transform: rotate(360deg);
    }
    @media (max-width: 576px) {
      top: -80px;
      left: 0;
    }
  }
  &__title {
    margin-bottom: 24px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -33px;
      bottom: 0;
      height: 40px;
      width: 3px;
      background: $highlight;
      border-radius: 2px;
      @media (max-width: 576px) {
        left: -16px;
      }
    }
  }
  &__input {
    width: 100%;
    height: 48px;
    padding-left: 16px;
    margin-bottom: 16px;
    border: 1px solid $border-color;
    border-radius: 8px;
    &::placeholder {
      color: $input-placeholder;
    }
  }
  &__message {
    height: 118px;
  }
  &__policy {
    opacity: 1;
    margin-bottom: 23px;
    span {
      color: $malina;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    width: 136px;
    padding-left: 20px;
  }
}
