.repair {
  padding-top: 15px;
  @media (max-width: 768px) {
    margin-top: 32px;
  }
  @media (max-width: 360px) {
    margin-top: 24px;
  }
  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: $menu-text-color;
  }
  &__contents {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(4, minmax(224px, 240px));
    grid-auto-rows: minmax(72px, auto);
    justify-content: space-between;
    column-gap: 5px;
    row-gap: 16px;
    height: 160px;
    overflow: hidden;
    @media (max-width: 992px) {
      grid-template-columns: repeat(3, minmax(224px, 240px));
      column-gap: 24px;
      justify-content: center;
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, minmax(224px, 240px));
    }
    @media (max-width: 576px) {
      display: flex;
      height: 72px;
      overflow: visible;
      justify-content: flex-start;
    }
  }
  &__wrapper {
    height: 100%;
    border: 1px solid $border-color;
    border-radius: 6px;
    &:hover {
      transition: 0.8s;
      border: 2px solid $malina;
    }
    @media (max-width: 576px) {
      margin-bottom: 16px;
    }
  }
  &__brand {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16px;
    &::before {
      content: url(../icons/go.svg);
      position: absolute;
      right: 16px;
    }
  }
  &__switch {
    display: flex;
    @media (max-width: 576px) {
      display: none;
    }
  }
}
