.repair {
  padding-top: 15px;
  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: $menu-text-color;
  }
  &__contents {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-auto-rows: minmax(72px, auto);
    column-gap: 32px;
    row-gap: 16px;
    height: 160px;
    overflow: hidden;
    // min-width: 0;
  }
  &__wrapper {
    height: 100%;
    // background: $white;
    border: 1px solid $border-color;
    border-radius: 6px;
    // min-width: 0;
  }
  &__brand {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16px;
    &::before {
      content: url(../icons/go.svg);
      position: absolute;
      right: 16px;
    }
  }
  &__switch {
    display: flex;
  }
}
