.review {
  padding: 15px 0 51px;
}

.review__title {
  padding-left: 13px;
}

.review__wrapper {
  display: flex;
}

.review__info {
  padding-right: 36px;
  width: 50%;
}

.review__desc {
  margin: 19px 0 14px;
}

.review__link {
  padding-left: 13px;
  position: relative;
}

.review__link::before {
  content: url(../icons/arrows.svg);
  position: absolute;
  left: -8px;
}

.review__img {
  width: 50%;
}

.review__img img {
  width: 100%;
}
