.technic {
  margin-top: 50px;
  @media (max-width: 768px) {
    padding-top: 15px;
    margin-top: 32px;
  }
  @media (max-width: 360px) {
    margin-top: 24px;
  }
  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: $menu-text-color;
  }
  &__contents {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(4, minmax(224px, 240px));
    grid-auto-rows: minmax(160px, auto);
    justify-content: space-between;
    column-gap: 5px;
    row-gap: 16px;
    height: 160px;
    overflow: hidden;
    @media (max-width: 992px) {
      grid-template-columns: repeat(3, minmax(224px, 240px));
      column-gap: 24px;
      justify-content: center;
    }
    @media (max-width: 576px) {
      display: unset;
      height: auto;
    }
  }
  &__card {
    display: grid;
    padding: 16px;
    border: 1px solid $border-color;
    border-radius: 6px;
    &-img {
      align-self: end;
      justify-self: end;
    }
  }
  &__switch {
    @media (max-width: 576px) {
      display: none;
    }
  }
}
