$white: #fff;
$light-gray: #efefef;
$soft-gray: #ececec;
$gray: #cacaca;
$table-background: #6d6d6d;
$error-red: #ff0000;
$error-red-prehover: #ff7a7a;
$orange-btn: #ff9900;
$green-confirm: #009e1a;
$link-color: #0d6efd;
$link-color--hover: #003f9c;
$dark-gray: #222222;
$dark-input: #414141;
$dark: #212529;
$black: #000;
$malina: #ff3e79;
$highlight: #41f6d7;

$modal-backgroud: #d9fff5;

$background: #f8f8f8;
$footer-background: #1b1c21;
$footer-border: #d9fff5;
$main-text-color: #1b1c21;
$menu-text-color: #7e7e82;
$border-color: #eaeaea;
$btn-border-color: #b8ffec;
